{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nuevo artículo</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_inventario') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}
